.createRoomForm {
  margin-top: calc(var(--varvh) * 0.05);
  height: 200px;
  max-height: 90%;
  background-color: white;
  padding: 20px 10px;
  border-radius: 10px;
  width: 300px;
  max-width: 90%;
}

.createButton {
  background-color: var(--theme-color);
  color: white;
  flex-grow: 1;
  margin: 0px 20px;
  padding: 5px;
  border-radius: 5px;
}

.createButton:hover {
  filter: brightness(1.2);
}

.title {
  color: var(--theme-color);
  font-family: 'Delius Swash Caps', sans-serif;
}
