.friendsWrapper {
  margin: 0px 10px;

  overflow: hidden;
  height: 90%;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  overflow-y: auto;
  border: 1px solid rgb(230, 230, 230);
}
.listContainer {
  display: flex;
  flex-direction: column;

  max-height: 25%;
}

.friendListItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.friendListItem:hover {
  text-decoration: none;
  cursor: default;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: var(--theme-dark-gray);
  background-color: rgb(240, 240, 240);
  padding-left: 5px;
}

.username {
  color: var(--theme-color);
}

.username:hover {
  cursor: pointer;
  text-decoration: underline;
}

.offline {
  color: var(--theme-light-gray);
}

.joinIcon {
  display: flex;
  align-items: center;
}

.joinIcon:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.receivedListItem:hover {
  text-decoration: none;
  cursor: default;
}
