.homeContainer {
  overflow: hidden;
}

.homeHeader {
  width: 100%;
  padding: 5px;
}

select {
  color: gray;
  border: none;
  background: none;
  box-shadow: none;
  font-family: sans-serif;
  font-size: 14px;
}
select:focus {
  outline-color: var(--theme-color);
}

select:hover {
  cursor: pointer;
}

.milesText {
  font-size: 14px;
  color: gray;
}

.createButton {
  background: none;
  color: gray;
  height: 30px;
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hide {
  display: none;
}

.miles {
  gap: 5px;
}

.createButton:hover {
  filter: brightness(1.2);
}

.roomList {
  width: 100%;
  padding: 5px;
}

.roomListItem {
  color: var(--theme-color);
}

.roomListItem:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

.itemTitle {
  padding-left: 5px;
}

.nothing {
  padding: 100px 0px;
  color: rgb(163, 163, 163);
}

.itemFooter {
  font-style: italic;
  font-size: 13px;
  line-height: 1;
}

.mainContainer {
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.refreshButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.refreshButton:hover {
  filter: brightness(1.2);
}

.refreshIcon {
  height: 25px;
}
