.homeContainer {
  overflow: hidden;
  height: 100%;
}

.mainContainer {
  height: calc(var(--varvh) - 60px);
}

.homeHeader {
  width: 100%;
  padding: 5px;
}

select {
  color: var(--theme-dark-gray);
  border: none;
  background: none;

  font-family: sans-serif;
  font-size: 14px;
}
select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

.milesText {
  font-size: 14px;
  color: var(--theme-dark-gray);
}

.createButton {
  background: none;
  color: var(--theme-dark-gray);
  height: 30px;
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hide {
  display: none;
}

.miles {
  gap: 5px;
}

.createButton:hover {
  filter: brightness(1.2);
}

.roomList {
  width: 100%;
  padding: 5px;
  flex-grow: 1;
  overflow-y: auto;
}

.roomListItem {
  color: var(--theme-color);
}

.roomListItem:hover {
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}

.itemTitle {
  padding-left: 5px;
}

.nothing {
  padding: 100px 20px;
  color: var(--theme-light-gray);
  text-align: center;
}

.createError {
  margin-top: 50px;
  color: var(--theme-dark-gray);
  text-align: center;
  background-color: white;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
}

.errorTitle {
  font-size: 30px;
  font-weight: bold;
}

.errorCloseButton:hover {
  filter: brightness(0.8);
}

.itemFooter {
  font-style: italic;
  font-size: 13px;
  line-height: 1;
}

.mainContainer {
  position: relative;
}

.overlay {
  height: calc(var(--varvh) - var(--navHeight));
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
}

.refreshButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.refreshButton:hover {
  filter: brightness(1.2);
}

.refreshIcon {
  height: 25px;
}
