.form {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.title {
  font-size: 30px;
  color: var(--theme-color);
  font-family: 'Delius Swash Caps', sans-serif;
}

.loginButton {
  background-color: var(--theme-color);
  color: var(--light-font-color);
}

.loginButton:hover {
  filter: brightness(1.2);
}

.noAccount {
  font-size: 15px;
  color: rgb(119, 119, 119);
}

.signupLink:hover {
  text-decoration: underline;
}
