.nav {
  background-color: var(--theme-color);
  color: var(--light-font-color);
  font-family: var(--theme-font-family);
  height: 60px;
  position: relative;
}

.iconContainer {
  height: 100%;
  border-radius: 50%;
  border: 2px solid white;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: flex-end;
  transform: translateX(100%);
  align-self: flex-start;
}

.sidebar {
  height: 100vh;
  width: 250px;
  max-width: 90%;
  position: fixed;
  background-color: white;
  color: black;
  z-index: 2;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.sidebarIcon {
  height: 100px;
  width: 100px;
  margin-top: 25px;
  align-self: center;
}

.sidebarTitle {
  align-self: center;
  font-size: 32px;

  font-family: 'Delius Swash Caps', sans-serif;
  color: var(--theme-color);
}

.overlay.active {
  transform: translateX(0);
}

.sidebar.active {
  transform: translateX(0);
}

.title {
  font-family: 'Delius Swash Caps', sans-serif;
  font-size: 40px;
  padding-left: 10px;
}

.title:hover {
  cursor: pointer;
}

.sidebarList {
  margin-top: 20px;
  padding-left: 20px;
  color: var(--theme-color);
}

.logOutButton {
  background: none;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.logOutButton:hover {
  text-decoration: underline;
}

.statusIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.network {
  align-self: center;
  font-size: 15px;
  color: var(--theme-dark-gray);
}

.online {
  color: green;
}

.offline {
  color: red;
}

.noLocation {
  color: rgb(145, 145, 7);
}

.userLoggedOut {
  justify-content: center;
}

.signup {
  font-size: 16px;
  line-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 10px;
}

.signup:hover {
  cursor: pointer;
  filter: brightness(1.2);
  text-decoration: underline;
}

.login:hover {
  cursor: pointer;
  text-decoration: underline;
}

.userLoggedOut {
  padding-right: 10px;
}

.userLoggedIn {
  padding-right: 10px;
}

.userLoggedIn:hover {
  cursor: pointer;
}
