.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(var(--varvh) - 60px);
}

.messageContainer {
  overflow-y: auto;
  position: relative;
  flex-grow: 1;
  padding: 5px 8px;
}

.jumpToBottomButton {
  position: sticky;
  bottom: 10px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}

.jumpToBottomButton:hover {
  background-color: black;
}

.messageWrapper {
  height: 100%;
  min-width: 50%;
  align-self: center;

  justify-content: space-between;
}

@media (max-width: 600px) {
  .messageWrapper {
    width: 100vw;
  }
}
@media (min-width: 601px) {
  .messageWrapper {
    min-width: 600px;
    width: 50%;
  }
}

.messageItem {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  color: rgb(75, 75, 75);
}

.usersTitle {
  min-width: 75px;
}

.usersList {
  overflow: auto;
}

.headerContainer {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 0px 5px;
}

.inputContainer {
  position: sticky;
  height: 6%;
}

.input {
  background-color: rgb(240, 240, 240);
  border: none;
  padding-left: 5px;
  font-size: 15px;
}

.input:focus {
  outline: none;
  border: 1px solid var(--theme-color);
}
.sendButton {
  padding: 0px 15px;
  background-color: var(--theme-color);
  color: white;
  transition: 0.5s;
}

.sendButton:hover {
  filter: brightness(1.2);
}

.leaveButton {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaveButton:hover {
  filter: brightness(1.5);
}

.iconPeople {
  height: 35px;
}

.iconBack {
  height: 32px;
}

.shareIcon {
  height: 28px;
}

.shareIcon:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

.title {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
  font-size: 20px;
  color: rgb(75, 75, 75);
}

.title::-webkit-scrollbar {
  display: none;
}

.overlay {
  height: calc(var(--varvh) - 60px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.usersContainer {
  width: 300px;
  background-color: white;
  max-width: 90%;
  border-radius: 10px;
  max-height: 300px;
  padding: 5px 10px;
  color: rgb(90, 90, 90);
}

.usersCloseButton:hover {
  filter: brightness(0.9);
}

.shareTitle,
.usersTitle {
  color: var(--theme-color);
  font-size: 20px;
  font-family: 'Delius Swash Caps', sans-serif;
}

.shareContainer {
  width: 300px;
  background-color: white;
  max-width: 90%;
  border-radius: 10px;
  max-height: 300px;
  padding: 5px 10px;
  gap: 25px;
}

.copied {
  text-align: center;
}

.copyUrl {
  text-align: center;
  color: rgb(90, 90, 90);
}

.copyButton {
  background-color: var(--theme-color);
  color: white;
}

.copyButton:hover {
  filter: brightness(1.2);
}

.usersIcon:hover {
  cursor: pointer;
  filter: brightness(1.5);
}
