.title {
  margin-top: 10px;
  color: var(--theme-color);
  font-family: 'Delius Swash Caps', sans-serif;
}

.info {
  max-width: 500px;
  font-size: 18px;
  color: var(--theme-dark-gray);
}

.signup {
  background-color: var(--theme-color);
  height: 60px;
  width: 200px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: 0.5s;
}

.signup:hover {
  filter: brightness(1.2);
}
